PORT=3000
NODE_ENV=development
CORS_ORIGIN=http://localhost:5173
DATABASE_URL="postgresql://admin:secret@localhost:5432/test"
REDIS_URL="redis://localhost:6379"
REFRESH_TOKEN_SECRET="your-refresh-token-secret"
ACCESS_TOKEN_SECRET="your-access-token-secret"
EMAIL_USER=your_email
EMAIL_PASSWORD=your_email_password
GOOGLE_CLIENT_ID=yourClientID.googleusercontent.com
GOOGLE_CLIENT_SECRET=yourClientSecret
GOOGLE_CALLBACK_URL=http://localhost:3000/api/auth/google/callback
